<%= form_for(task, html: {class: 'form-horizontal'}) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field", style="width:20%">
    <%= f.label :chore, class: 'col-sm-2 control-label' %>
    <%= f.text_field :chore, class: 'form-control' %>
  </div>

  <div class="field", style="width:20%">
    <%= f.label :priority, class: 'col-sm-2 control-label'  %>
    <%= f.number_field :priority, class: 'form-control' %>
  </div>

  <div class="field", style="width:20%">
    <%= f.label :status, class: 'col-sm-2 control-label'  %>
    <%= f.number_field :status, class: 'form-control' %>
  </div>

  <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
